@mixin substrate {
  background: rgba(40, 64, 54, 0.6);
  padding: 20px 40px;
  border-radius: 4px;
}

$DEGREE-SYMBOL: "°";

body {
  height: 100%;
  width: 100%;
}

button,
input,
fieldset,
select {
  box-sizing: border-box;
  outline: none;
}

fieldset,
button,
input,
select {
  border: 1px solid #999;
}

.bg-image {
  background-image: url(../assets/bg.jpg);
  // background-color: #f56a6a;
  filter: blur(1px);
  -webkit-filter: blur(0px);
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@-webkit-keyframes rotate /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.header {
  $HEADER_ITEM_HEIGHT: 36px;
  $HEADER_ITEM_BG_COLOR: rgba(
    $color: #ffa,
    $alpha: 0.5,
  );

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 80px;
  padding: 40px 0;
  height: 20%;
  color: white;

  .controls {
    @include substrate;

    display: flex;
    flex-wrap: wrap;

    &__degrees_wrapper {
      position: relative;
      padding: 0;
      margin: 0;
      height: $HEADER_ITEM_HEIGHT;
      width: 100px;
    }

    &__degrees-change {
      visibility: hidden;
    }

    &__degrees-change:checked + label {
      // background-color: #999;
    }

    &__degreesC:checked + label::after {
      content: "";
      left: 0;
    }

    &__degreesC + label::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 100%;
      top: 0;
      transition: all 0.3s ease-out;
      background-color: $HEADER_ITEM_BG_COLOR;
    }

    &__label {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100%;
      text-align: center;
      line-height: 1em;
    }

    &__degreesC_label {
      left: 0;
      top: 0;
      // transition: ;
      &::before {
        content: $DEGREE-SYMBOL + "C";
      }
    }

    &__degreesF_label {
      left: 50%;
      top: 0;

      &::before {
        content: $DEGREE-SYMBOL + "F";
      }
    }
  }

  .controls__button_change-screensaver {
    width: 45px;
    height: $HEADER_ITEM_HEIGHT;
    // border: 1px solid #999;
    // border-radius: 4px;
    // background-color: $HEADER_ITEM_BG_COLOR;
    background: url(../assets/refresh.svg) no-repeat;
    filter: saturate(84) hue-rotate(-165deg) brightness(173%);
    border: none;



    &::before {
      content: url(../assets/refresh-arrow2.svg);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      // top: 2px;
      // width: 20px;
      // height: 20px;
      animation: rotate 2s linear infinite;
    }

    // &.rotate {

    //   &::before {
    //     -webkit-animation: rotate 2s linear infinite;
    //     -moz-animation: rotate 2s linear infinite;
    //     -ms-animation: rotate 2s linear infinite;
    //     -o-animation: rotate 2s linear infinite;
    //     animation: rotate 2s linear infinite;
    //   }
    // }
  }

  .controls__change-language {
    margin: 0 10px;
    width: 45px;
    height: $HEADER_ITEM_HEIGHT;
    // border: 2px solid #999;
    // border-radius: 4px;
    background-color: $HEADER_ITEM_BG_COLOR;
  }

  .controls__degrees-change {
    // width: 3em;
    // height: 36px;
    // border: 2px solid #999;
    // border-radius: 4px;
    background-color: rgb(102, 102, 102, 0.4);
  }

  .search {
    @include substrate;

    &__input {
      margin: 0 5px;
      padding: 0 0 0 15px;
      height: $HEADER_ITEM_HEIGHT;
      border: 1px solid #999;
      border-radius: 1px;
      background-color: $HEADER_ITEM_BG_COLOR;
    }

    &__submit {
      height: $HEADER_ITEM_HEIGHT;
      border: 1px solid #999;
      border-radius: 1px;
      background-color: $HEADER_ITEM_BG_COLOR;
    }
  }
}

.main {
  @include substrate;

  margin: 10px 80px;
  display: flex;
  height: 80%;
  justify-content: space-between;
  color: white;
}

.weather {
  width: 60%;

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__city {
    flex: 0 0 100%;
    margin: 10px auto;
    font-size: 5em;
    letter-spacing: 3px;
  }

  &__date {
    font-size: 2em;
  }

  &__time {
    margin-left: 20px;
    justify-content: center;
    font-size: 2em;
  }

  &__todays {
    display: flex;
    flex-wrap: wrap;

    &-aside {
      margin: 0 70px;
    }

    &-data {
      font-size: 1.3em;
      font-weight: 700;
    }
  }
  &__description {
    text-transform: capitalize;
  }

  &__overview {
    height: 128px;
    margin: -15px 0 0 -70px;
  }

  &__wind {
    &_metric {
      &::after {
        content: "m/s";
      }
    }
  }

  &__feels-like {
    &::after {
      content: $DEGREE-SYMBOL;
      position: relative;
      font-size: 1em;
    }
  }

  &__temperature {
    font-size: 20em;
    margin: 0;

    &::after {
      content: $DEGREE-SYMBOL;
      position: relative;
      top: -0.7em;
      font-size: 0.5em;
    }
  }

  &__nearest {
    display: flex;
    flex-wrap: wrap;

    &_flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__day {
    font-size: 3em;
    margin: 20px 30px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__overview_mini {
    margin-top: -10px;
  }

  &__temperature_mini {
    flex: 0 0 25%;
    margin: 15px;
    font-size: 5em;
    text-align: center;

    &::after {
      content: $DEGREE-SYMBOL;
      position: relative;
      top: -0.3em;
      font-size: 0.7em;
    }
  }
}

.map {
  &__block {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
  }

  &__interactive {
    // justify-content: flex-end;
    // flex: 0 0 100%;
    // display: flex;
    width: 100%;
    height: 500px;
    // background-color: #bd7373;
  }

  &__coords {
    flex: 0 0 25%;
    align-self: self-start;
    text-align: end;
  }
}
